# Frontend
VITE_API_URL=https://api.supermock.ru
VITE_NODE_ENV=development
VITE_TELEGRAM_BOT_USERNAME=YOUR_DEV_BOT_USERNAME
VITE_TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# Backend
PORT=3001
HTTPS_PORT=3443
TELEGRAM_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
BOT_USERNAME=YOUR_DEV_BOT_USERNAME
JWT_SECRET=please_change_me_in_prod
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:5173
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=200

DATABASE_URL="postgresql://postgres:password@localhost:5432/supermock?schema=public"

POSTGRES_DB=supermock
POSTGRES_USER=postgres
POSTGRES_PASSWORD=krishna1284radha$

# Domain Configuration
DOMAIN=supermock.ru
SSL_EMAIL=korobprog@gmail.com

# Application Configuration
NODE_ENV=production

# This was inserted by `prisma init`:
[object Promise]